/*FONT*/
@font-face {
  font-family: '양진체';
  src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NEXON Lv2 Gothic Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MaruBuri-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*start*/
@font-face {
  font-family: 'TmonMonsori';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/TmonMonsori.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
/*end*/

/*HEADER*/

header {
position: relative;
min-height: 100%;
height: 100%;
width: 100%;
background-size: cover;
/*background-color: #ec4646;#51c2d5*/
}

.top{
clear: both;
height : 40px;
background: #9DC3C1;
}

a {
font-family: '양진체';
display: inline-block;
color: blue rgba(0, 0, 0, 0.5);
-webkit-transition: all 0.5s;
transition: all 0.5s;
font-size: 14px;
font-weight: 700;
text-decoration: none;
padding: 5px;
padding-top: 10px;
padding-right: 20px;
}

a:hover {
color: blue rgba(0, 0, 0, 1.0);
text-decoration: none;
}
/*start*/
.title {
font-family: 'TmonMonsori';
font-size:50px;
color: black;
letter-spacing: 0.05em;
/* padding-top: 10%; */
/* padding-bottom: 10%; */
/* margin-left:25%; */
text-align:left ;
}

.state0{
font-family: 'MaruBuri-Regular';
font-size:30px;
margin-bottom:25px;
font-weight: bold;
text-align:left ;
}
/*end*/

.state{
font-family: 'MaruBuri-Regular';
font-size:25px;
margin-bottom:20px;
}

.video{
float: left;
margin-left : 30px;
margin-right : 10px;
height : 50vh;
width : 60vw;
}

#container {
  
  margin-left:160px;
  width: 50vw;
  height: 62vh;
}
#videoElement {
  width: 50vw;
  height: 62vh;
  background-color: #666;
}

.home_layout{
clear: both;
height:125%;
width:100%;
/*background-color: #ec4646;#51c2d5*/
/*background-color: #cd0a0a;*//*#438a5e*//*red#cd0a0a*/
}

span {
display: inline-block;
width : 13vw;
height : 5vh;
}

.status_container{
float: left;
margin-left: 1%;
margin-top: 1%;
background-color: rgba( 255, 255, 255, 0.3 );
padding-left:1%;
border-left-color: #6E7783;
border-left-width: thin;
border-left-style: solid;
width: 28vw;
height: 55vh;
}

@media (max-width: 950px) {
.subTitle {
  display: none;
}
}

.logo {
display: inline-block;
float: left;
margin-left: 150px;
margin-top: 5px;
}

h3 {
display: inline-block;
color: #6E7783;
/* border-bottom: solid grey 1.5px; */
padding: 2px 5px;
font-size: 55px;
weight: 700;
opacity: 0.75;
}


/*BODY*/

body {
min-height: 500px;
margin: 0;
padding: 0;
}



h4 {
color: #0F0FB0;
opacity: 0.85;
font-size: 24px;
text-align: center;
/*padding-top: 100px*/
padding: 50px 0 30px 0;
}

/*delete below when above is fixed*/

.home {
margin-top: 25%;
text-decoration: none;
}

.navFoot {
margin-top: 25px;
}
